
/*nav*/
body, ul{
    margin: 0;
    padding: 0;   
}

/* Footer styling */
footer {
    background-color: #0a0a0a;
    color: #fff;
}
footer div {
    display: flex;
    flex-direction: row;
}
 
/*STYLES FOR BANNER desktop*/
.banner{
    background-color: black;
    text-align: center;
    padding: 5px 0;
}

.banner a{
    color: #fff7f2;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.underline{
    text-decoration: underline;
}

/*STYLES FOR NAV desktop*/
 ul{
    margin: 0;
    padding: 0;
    
}
nav {
    background-color: #fff7f2; 
    padding: 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.nav-list li {
    margin: 0 35px; 
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

/*Book now design for desktop*/
.book-nw{
    background-color: #DD793B;
    color: #fff;
    font-size: larger;
    border-radius: 1px;
    text-align: center;
    padding: 20.4px 30px;
}

/*STYLES FOR NAV mobile*/
@media(max-width:768px){
    .nav-list{
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
    }
/*STYLES FOR BANNER mobile*/
.banner{
    padding: 10px;
    font-size: 14px;
}
    
.book-nw{
    padding: 15px 25px;
    font-size: 1.2em; 
        
    }
.nav-list li{
    margin: 10px 0;       
    }
    
main{
    padding: 15px;
    }
    
}



