/* Global CSS */
body, p, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    margin: 0;
    padding: 0;   
}

/* Desktop Footer Styling */
footer {
    background-color: #3D372F;
    color: #fff7f2;
    font-size: 12px;
}

footer p {
    font-weight: 300;
}

footer h3 {
    font-size: inherit;
}

footer .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .flex.five-column > * {
    width: 16%;
}

footer > div:first-child {
    padding: 30px;
    border-bottom: #fff7f2 1px solid;
}

footer > div:last-child {
    padding: 20px 30px;
    align-items: center;
}

footer .back-to-top {
    box-shadow: inset 0px 0px 0px 1px #fff7f2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .text-align-right {
    text-align: right;
}

footer li {
    list-style-type: none;
}

footer .payment-methods img {
    width: 28px;
    height: 18px;
    display: block;
}

footer .payment-methods li {
    display: inline-block;
    margin-right: 5px;
}

footer .payment-methods li:last-child {
    margin-right: 0;
}

footer .socials img {
    width: 10px;
    height: 10px;
}

footer .basic-information div:first-child {
    margin-bottom: 12px;
}

/* Column Width Adjustment */
@media(max-width: 1125px) {
    footer .flex.five-column > * {
        width: 17%;
    }
}
@media(max-width: 1075px) {
    footer .flex.five-column > * {
        width: 18%;
    }
}

/* Tablet Footer Styling */
@media(max-width: 768px) {
    footer .flex.five-column {
        flex-wrap: wrap;
    }
    footer .flex.five-column > * {
        width: 45%;
        margin-bottom: 20px;
    }
    footer .flex.five-column > .back-to-top {
        display: inline-flex;
        height: 60px;
    }
    footer .flex.five-column .basic-information {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .basic-information div:first-child, footer .flex.five-column > *:last-child, footer .flex.five-column > *:nth-child(4) {
        margin-bottom: 0;
    }
    footer .basic-information div:last-child {
        text-align: right;
        margin-top: 12px;
    }
}

/* Footer Copyright Info/Payment Info Break */
@media(max-width: 600px) {
    footer > div:last-child {
        display: block;
        text-align: center;
    }
    footer > div:last-child p {
        margin-bottom: 8px;
    }
}

/* Mobile Footer Styling */
@media(max-width: 450px) {
    footer .flex.five-column > *, footer .flex.five-column .basic-information {
        width: 100%;
        display: block;
    }
    footer .basic-information div:last-child {
        text-align: left;
    }
    footer .flex.five-column > *:nth-child(4) {
        margin-bottom: 20px;
    }
}

/*STYLES FOR BANNER desktop*/
.banner {
    background-color: #3D372F;
    text-align: center;
    padding: 2px 0 4px 0;
}

.banner a {
    color: #fff7f2;
    font-size: 12px;
}

.underline {
    text-decoration: underline;
    font-weight: 500;
}


/* Desktop Viewport: Style rule for header */
header {
    background-color: #fff7f2;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-top: 30px;
}

nav li a {
    padding: 20px 35px;
    display: block;
}

img {
    padding-top: 5px;
}

.menu-icon {
display: none;
}
/*Book now design for desktop*/
.book-now {
    background-color: #DD793B;
    color: #fff7f2;
}

/*STYLES FOR NAV mobile*/
@media(max-width:768px) {
    nav {
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        display: none;
    }
    /*STYLES FOR BANNER mobile*/
    .banner {
        padding: 10px;
        font-size: 14px;
    }
    
    .book-now {
        padding: 15px 25px;
        font-size: 1.2em;   
    }

    nav li {
        margin: 10px 0;       
    }
    
    main {
        padding: 15px;
    }
    .menu-icon {
        display: block;
    }
    nav ul {
        padding-top: 0;
    }
}



